header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #09f;
    padding: 10px 15px;
    width: 100%;
    min-width: 860px;
    min-height: 7vh;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px black;
    z-index: 10;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: transform 0.3s, border .4s;
}

.logo:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.244);
    border-left: 1px solid rgba(255, 255, 255, 0.244);
    box-shadow: -2px 2px 5px white;
    transform: translate(4px, -4px);

}

.logo img {
    height: 40px;
}

.logo h1 {
    font-size: 1.8rem;
    font-family: 'Arial', sans-serif;
    margin: 0 10px;
    color: #09f;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: -2px 2px 0 black, 2px -2px 0 black;
}

.navegacion a,
.user a {
    color: #ddd;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease, text-shadow 0.3s;
}

.navegacion a:hover,
.user a:hover {
    color: white;
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white;
}