header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 10px;
    min-width: 780px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 40px;
}

.logo h2 {
    font-size: 1.75rem; /* Usar 'rem' para tamaños de fuente responsivos */
    margin: 0;
    color: #ccc;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #2c3e50;
}

.navegacion a,
.user a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navegacion a:hover,
.user a:hover {
    background-color: #2c3e50;
}

